.recruiter {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid rgb(13, 13, 121);
}

.recruiter__title {
  margin-left: 16px;
}

.recruiter__search {
  margin-right: 8px;
}

.recruiter__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 8px;
}

.recruiter__list-items {
  margin: 0 16px;
  color: black;
  text-decoration: none;
}
